<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49273305032-e32u8mosbomb9b44i45ln19bhptkhbl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49273305032-e32u8mosbomb9b44i45ln19bhptkhbl4</string>
	<key>API_KEY</key>
	<string>AIzaSyBJMqHtjZQ0X-naZQmtm0B9eDyXO9L3Rgs</string>
	<key>GCM_SENDER_ID</key>
	<string>49273305032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoedit</string>
	<key>PROJECT_ID</key>
	<string>video-editer-df6c2</string>
	<key>STORAGE_BUCKET</key>
	<string>video-editer-df6c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49273305032:ios:43f8f0e85d9632dc6ef2fd</string>
</dict>
</plist>